# system file
**/.DS_Store
.vscode/
emulatorenv/

# Logs
log/

# Machine-dependent binary
*.so

# Cache and Logs
__pycache__/
*.pyc

# Datafiles
*.npy
*.png
*.npz
*.pickle
data/
docs/

# Links
*.url

# Resources
*.html
*.pdf
*.docx
bashscript/